@import url('https://highlightjs.org/static/demo/styles/monokai.css');

.preview {
  height: 30vh;
  width: 35vw;
  background: #eee;
  overflow: scroll;
  font-size: 0.9em;
  text-shadow: none;
  text-align: initial;
}

@media screen and (max-width: 520px) {
  .preview {
    height: 50vh;
    width: 100vw;
  }
}
