@import url('https://highlightjs.org/static/demo/styles/railscasts.css');

.preview {
  height: 30vh;
  width: 35vw;
  background: #232323;
  overflow-y: scroll;
  font-size: 0.85em;
  line-height: 1.6em;
  text-shadow: none;
  text-align: initial;
  color: #ddd;
  padding-left: 2em;
  padding-top: 1em;
  padding-bottom: 1em;
}

@media screen and (max-width: 520px) {
  .preview {
    height: 50vh;
    width: 100vw;
    padding-left: 0.5em;
  }
}
